body {
  background-color: #2d1907;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Yeon Sung', cursive;
}

.container {
  background-color: #f5efe6; /* 카드 배경 */
  color: #3e2f23;            /* 글씨 색 */
  padding: 36px 28px;
  border-radius: 20px;
  max-width: 380px;
  width: 90%;
  text-align: center;
  position: relative;
  z-index: 2;

  font-family: 'Gaegu', cursive; /* ← 여기서 글씨체 적용 */
  font-size: 20px;               /* 기본 글씨 크기 조절 */
  line-height: 1.5;              /* 줄 간격 */
}
  
h1 {
  font-size: 2rem; /* 제목 */
  margin-bottom: 20px;
}

#result {
  font-size: 1.2rem; /* 문장 */
  line-height: 1.6;
}

button {
  font-family: 'Gaegu', cursive;
  background-color: #364907; /* 변경 */
  color: #f5efe6;
  border: none;
  padding: 14px 28px;
  font-size: 1.1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  background-color: #3f5f44;
  transform: translateY(-2px);
}


@media (max-width: 600px) {

  .container {
    padding: 40px 24px;
  }

  h1 {
    font-size: 2.2rem;
  }

  #result {
    font-size: 1.6rem;
    line-height: 2;
  }

  button {
    font-size: 1.2rem;
    padding: 16px 32px;
  }
}


























